:root {
    --border-color: #3c4d42;
    --client-item-color: #2b2a33;
    --log-color: #494857;
}

.content {
    width: 100vw;
}

.log::-webkit-scrollbar {
    width: 5px;
}

.log::-webkit-scrollbar-thumb {
    background: #959595;
    border-radius: 20px;
}

.log::-webkit-scrollbar-track {
    background: var(--log-color);
    border-radius: 20px;
}

.user-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: .7rem;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-bottom-right-radius: var(--border-radius);
}

.toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .7rem;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    display: flex;
    gap: .5rem;
}

.toolbar button {
    background-color: var(--log-color);
    color: var(--text-color);
    outline: none;
    border-radius: var(--border-radius);
    padding: .5rem;
    border: none;
}

.toolbar div {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.clients-box {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 5rem 2rem;
    width: 100%;
}

.client-item {
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    background-color: var(--client-item-color);
    position: relative;
}

.client-item .client-details {
    margin-top: 2.6rem;
}

.client-item .client-last-update {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
    text-align: center;
    font-size: 80%;
}

.client-item .client-last-update i.age-4 {
    color: black;
}

.client-item .client-last-update i.age-3 {
    color: red;
}

.client-item .client-last-update i.age-2 {
    color: yellow;
}

.client-item .client-last-update i.age-1 {
    color: green;
}

.client-item .room-name {
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border-bottom-right-radius: var(--border-radius);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    width: 2.5rem;
    text-align: center;
}

.client-item .log {
    margin-top: .3rem;
    background-color: var(--log-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: .3rem;
    height: 6.4rem;
    line-height: 1rem;
    overflow-y: scroll;
}


@media screen and (max-width: 1400px) {
    .clients-box {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1050px) {
    .clients-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .clients-box {
        grid-template-columns: repeat(2, 1fr);
        padding: 3.5rem 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .clients-box {
        grid-template-columns: 1fr;
        padding: 3.5rem 1rem;
    }
}