:root {
    --screensaver-bg: #272727;
    --screensaver-text-color: white;
    --time-box-color: #ffd868;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--screensaver-bg);
    color: var(--screensaver-text-color); 
    font-family: monospace;
}


.details {
    position: absolute;
    bottom: 0;
    left: 0;
}

.details .schledule {
    border-top: 1px solid var(--time-box-color);
    border-right: 1px solid var(--time-box-color);
    border-top-right-radius: 10px;
    padding: 1rem;
    font-size: 1.7rem;
}

.details .room {
    padding-left: .5rem;
    font-size: 2rem;
}

#time {
    font-size: 4em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--time-box-color);
    background-color: var(--time-box-color);
    color: var(--screensaver-bg);
}