:root {
    --screensaver-bg: #0e0505;
    --screensaver-text-color: white;
    --time-box-color: #ec940c;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--screensaver-bg);
    color: var(--screensaver-text-color); 
    font-family: monospace;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.details {
    position: absolute;
    bottom: 0;
    left: 0;
}

.details .schledule {
    border-top: 1px solid var(--time-box-color);
    border-right: 1px solid var(--time-box-color);
    border-top-right-radius: 10px;
    padding: 1rem;
    font-size: 1.9rem;
}

.details .room {
    padding-left: .5rem;
    font-size: 2.2rem;
}

#time {
    font-size: 4em;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 2px var(--time-box-color);
    background-color: var(--time-box-color);
    color: var(--screensaver-bg);
}

#logo-text {
    position: absolute;
    width: 1200px;
    top: 8rem;
}