{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
{% endblock %}


{% block body %}

<div class="user-info">
    user: {{ current_user.username }}
</div>

<div class="clients-box">
    {% for room, client in clients.items() %}
    <div class="client-item">
        <div class="room-name">{{ room }}</div>
        <div class="client-last-update">Last update: {{ client.last_update }}</div>
        <div class="client-details">
            <div>status: <b>{{ client.status }}</b></div>
            <div class="log">
                {% for dt, msg in client.log %}
                {{ dt }}: {{ msg }} <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
{% endblock %}