{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/dashboard.css') }}">
{% endblock %}


{% block body %}

<div class="user-info">
    user: {{ current_user.username }}
</div>

<div class="toolbar">
    <div class="change-day">
        Den:
        <select id="day-select">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <button onclick="changeCurrentDay()">Potvrdit</button>
    </div>
    <div>
        <button onclick="fetch()">Fetch</button>
    </div>
    <div>
        <button onclick="delete_logs()">Smazat logy</button>
    </div>
</div>

<small class="timer">Aktualizováno před <b id="minutes">0 min</b></small>

<div class="clients-box">
    {% for room, client in clients.items() %}
    <div class="client-item">
        <div class="room-name">{{ room }}</div>
        <div class="client-last-update">Last update: {{ client.last_update }} <i class="fa fa-circle age-{{ client['last_update_age'] }}" aria-hidden="true"></i></div>
        <div class="client-details">
            <div>status: <b>{{ client.status }}</b></div>
            <div class="log">
                {% for dt, msg in client.log %}
                <mark>{{ dt[5:] }}:</mark> {{ msg }} <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if unconnected %}
    <div class="client-item">
        <div>Nepřipojené místnosti:</div>
        <ul style="columns: 2;">
            {% for room in unconnected %}
            <li>{{ room }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<a href="{{ url_for('program') }}" class="nav-link">program</a>
<script src="{{ url_for('static', filename='/js/dashboard.js') }}"></script>
<script>
    let daySelectEle = document.getElementById('day-select')
    daySelectEle.value = "{{ day }}"
</script>
{% endblock %}