<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screensaver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screensaver.css') }}?v={{ '{:0=6}'.format(range(0, 99999) | random) }}">
</head>
<body>
    <canvas id="simulationCanvas"></canvas>
    <img id="logo-text" src="{{ url_for('static', filename='img/logo_text.png') }}">
    <div id="time"></div>
    {% if room != "none" %}
    <div class="details">
        <div class="room">Místnost: {{ room }}</div>
        <div class="schledule">
            {% for film in schledule %}
            <div>{{ film[0] }} - {{ film[1] }}: {{ film[2] }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/screensaver.js') }}?v={{ '{:0=6}'.format(range(0, 99999) | random) }}"></script> <!-- aby se to necachovalo do pameti browseru -->
    <script src="{{ url_for('static', filename='js/gravity.js') }}?v={{ '{:0=6}'.format(range(0, 99999) | random) }}"></script>
</body>
</html>
